---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="wrapper">
    <h2>My awesome blog subtitle</h2>
  </div>
</BaseLayout>
