---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
  header {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  header .h1 {
    /* margin-top: 5px; */
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: #179299;
    font-weight: bold;
    text-transform: uppercase;
  }
</style>

<header>
  <h1>Astro site</h1>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
